* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color : #3a3a3a;
}

/* Header */
header {
    background-color: lightcoral;
}
/* Main Content */
main { 
    background-color: lightblue;
    /* Make main element stretch to take up any surplus space */
    flex: 1 0 auto;
}
/* Footer */
footer {

    background-color: yellowgreen;
}